<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="css/main.css" type="text/css" />
</head>

<body class="oneColElsCtr">

<div id="container">
  <div id="mainContent">	
    <div align="center"></div>
    <h1 align="center" class="style1">St. Joseph Latin Mass Society<br>
      <span class="style4">at St. Mary Cathedral, </span><span class="style4">Austin, Texas</span></h1>
    <p align="center" class="style1"><img src="images/consecration.jpg" alt="consecration" width="321" height="450"></p>
    <p align="center" class="style1">&nbsp;</p>
    <p align="center" class="style1"><strong><em>Cathedral Rector:</em> The Very Reverend Albert Laforet</strong></p>
    <p>&nbsp;</p>
    <p align="center">
   <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FStJosephLatinMassSociety&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
    </p>
    <p>&nbsp;</p>
    <p align="center">Extraordinary Form of the Roman Rite <br>
      <span class="style8">celebrated every Sunday at 3:30 p.m.</span><br>
    </p>
    <p align="center" class="style1">Confessions and Rosary before Mass.</p>
    <p align="center" class="style1">High Mass on the first Sunday of the month.<br>
    Benediction of the Blessed Sacrament following Mass on the fourth Sunday of the month.</p>
    <p align="center" class="style1">Please join us in Bishops Hall after Mass  for coffee and refreshments. </p>
    <p align="center" class="style1">Location:<br>
      <a href="http://www.smcaustin.org/">Saint Mary Cathedral</a><br>
      203 East 10th St.<br>
    Austin, Texas </p>
    <p align="center" class="style1">(512) 476-6182<br>
    </p>
    <p align="center" class="style1"><a href="http://www.smcaustin.org/index.cfm?load=page&page=151">View map</a> to Saint Mary Cathedral</p>

    <p align="center" class="style1">+ + +</p>
    
    <h3 class="banner">Recent News</h3>

    <div id="posts">
    {{ content }}
    </div>
    <p align="center" class="style1">
    The author of <em><a href="http://www.amazon.com/Jozef-Musiol/e/B007QPW6HC/ref=ntt_athr_dp_pel_1">In the Heart of Tanzania</a></em>, Fr. Jozef Musiol, celebrates the Latin Mass in Brenham.
    <br/>
    More information: <a href="http://www.austindiocese.org/newsletter_article_view.php?id=6814">"Book details local priest's service in Tanzania"</a>
    </p>

   
    <p align="center" class="style1">+ + +</p>
    <p align="center" class="style1">Music for the Extraordinary Form of the Mass at St. Mary Cathedral is provided by </p>
    <div align="center">the <a href="http://sites.google.com/site/staugustinechoir">St. Augustine Choir</a>, directed by Barbara A. Manson.    </div>
    <p align="center" class="style1">+ + +</p>
    
    <p align="center" class="style1">      
      <a href="http://cdow.org/stmore.html">A Litany of St Thomas More</a>  
    </p>
   
    <p align="center" class="style1">+ + +</p>
    <p align="center" class="style1">
      <a href="The_Mass_Our_Treasure.pdf">The Mass, Our Treasure</a> (PDF article)
      <br/>
      <a href="http://www.newliturgicalmovement.org/2010/01/life-work-and-ambitions-of-abbe-franck.html">info about the author</a>
      <br/>
      <em>This article was translated from the original French by Fr. John Rickert, FSSP.</em>
    </p>
    <p align="center" class="style1">+ + +</p>
    
    
    <p align="center" class="style1">If you would like to be added to our email list just send us an email to the contact link:</p>
    <p align="center" class="style1"><a href="mailto:austinlatinmass@yahoo.com">Contact Us</a></p>
    <p align="center" class="style1">&nbsp;</p>
    <p align="center" class="style19">Consecration Photo courtesy of James Nino</p>
    <p align="center">&nbsp;</p>
    <p align="center">&nbsp;</p>
    <p align="center">&nbsp;</p>
  <!-- end #mainContent --></div>
<!-- end #container --></div>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
sc_project=3694575; 
sc_invisible=1; 
sc_partition=44; 
sc_security="0349bcd8"; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a href="http://www.statcounter.com/" target="_blank"><img class="statcounter" src="http://c45.statcounter.com/3694575/0/0349bcd8/1/" alt="counter free hit invisible" ></a></div></noscript>
<!-- End of StatCounter Code -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27837402-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>